* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: "Exo 2", "Trebuchet MS","Helvetica","Arial",'PingFang SC','Hiragino Sans GB','STHeiti Light','Microsoft YaHei','SimHei','WenQuanYi Micro Hei',sans-serif;
    font-size: 16px;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.app::after {
    content: '';
    position: absolute;
    top: -50vh;
    left: -80vh;
    width: 200vh;
    height: 200vh;
    background: #f5f8ff;
    box-shadow: 1px 0 20px rgba(0,0,0,0.1) inset;
    border-radius: 50%;
    z-index: -1;
}