.user-item {
    width: 100%;
    transition: all 0.4s;
    .visible-part {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0px 20px;
        background: white;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            background: rgba(0,0,0,0.1);
        }
    }

    .visible-info {
        line-height: 32px;
    }

    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .name {
        margin-left: 48px;
        font-size: 18px;
        color: #555;
    }

    .del-btn {
        border: none;
        outline: none;
        background: transparent;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        font-size: 16px;
        color: #888;
        cursor: pointer;
        user-select: none;
        transition: all 0.2s;
        &:hover {
            background: #f45a6f;
            color: white;
        }
    }

    .hidden-part {
        max-height: 0;
        padding: 0px 20px;
        line-height: 30px;
        overflow: hidden;
        background: whitesmoke;
        font-size: 14px;
        color: #777;
    }
}

.user-item--active {
    .hidden-part {
        max-height: 100px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
    }
}